Making datasets and getting the right numbers of bins to make the meta-datasets
===

In [33]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [34]:
%autoreload 2

In [41]:
from pathlib import Path

import pandas as pd

from src.data.make_dataset import make_dataset, number_bins_fn, read_raw_datasets

Generate the raw datasets in the `data\raw` directory

In [ ]:
make_dataset()

Check if was loaded correctly
---

In [42]:
iris = pd.read_csv('../data/raw/iris_4.csv')
iris

     sepallength  sepalwidth  petallength  petalwidth
0            5.1         3.5          1.4         0.2
1            4.9         3.0          1.4         0.2
2            4.7         3.2          1.3         0.2
3            4.6         3.1          1.5         0.2
4            5.0         3.6          1.4         0.2
..           ...         ...          ...         ...
145          6.7         3.0          5.2         2.3
146          6.3         2.5          5.0         1.9
147          6.5         3.0          5.2         2.0
148          6.2         3.4          5.4         2.3
149          5.9         3.0          5.1         1.8

[150 rows x 4 columns]

In [37]:
datas_size = read_raw_datasets()

In [38]:
number_bins_fn(datas_size)

72.0

In [39]:
Path(Path.cwd() / '01-extract-meta-features.ipynb').is_file()

True